<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RestAssuredapiframwork">

<listeners>
<listener class-name="api.utilites.ExtentReportManager"/>
</listeners>
  <test thread-count="5" name="Api Test">
    <classes>
      <class name="api.test.UserTests"/>
      <class name="api.test.DDTests"/>
      <class name="api.test.UserTests2"/>
       <class name="api.test.Dummytest"/>
       <class name="api.test.Checkingconflictpraveenbranch"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- RestAssuredapiframwork -->
